app: vjepa
nodes: 1
tasks_per_node: 1
data:
  dataset_type: mridataset
  datasets:
    - /media/backup_16TB/sean/VJEPA/jepa/configs/pretrain_a6000_csv/pretraining_nii_updated_non_zoom.csv
  decode_one_clip: true
  batch_size: 26
  num_clips: 1
  num_frames: 16
  tubelet_size: 2
  sampling_rate: 4
  crop_size: 224
  patch_size: 16
  pin_mem: true
  num_workers: 14
  filter_short_videos: false
  clip_duration: null
data_aug:
  auto_augment: false
  motion_shift: false
  random_resize_aspect_ratio:
  - 1
  - 1
  random_resize_scale:
  - 0.7
  - 1.0
  reprob: 0.0
logging:
  folder: /media/backup_16TB/sean/VJEPA/a6000_output/vit_base/K400
  write_tag: K400_base_100epoch_blockwise_embed_mriload_50epoch
  project: voxel-jepa-base-pretraining # Don't change this
  run_name: K400_base_100epoch_blockwise_embed_mriload_50epoch # Please change every time before running, this is the name for wandb run file
  
loss:
  loss_exp: 1.0
  reg_coeff: 0.0
mask:
  - aspect_ratio:
      - 1
      - 1
    num_blocks: 4
    spatial_scale:
      - 0.2
      - 0.2
    temporal_scale:
      - 1.0
      - 1.0
    max_temporal_keep: 1.0
    max_keep: null
  - aspect_ratio:
      - 1
      - 1
    num_blocks: 4
    spatial_scale:
      - 0.2
      - 0.2
    temporal_scale:
      - 1.0
      - 1.0
    max_temporal_keep: 1.0
    max_keep: null
meta:
  load_checkpoint: true
  read_checkpoint: /media/backup_16TB/sean/VJEPA/a6000_output/vit_base/K400/K400_base_100epoch_blockwise_embed_mriload_100epoch-latest.pth.tar
  seed: 234
  eval_freq: 100
  use_sdpa: true
  dtype: bfloat16
model:
  model_name: vit_base
  pred_depth: 12
  pred_embed_dim: 384
  uniform_power: true
  use_mask_tokens: true
  zero_init_mask_tokens: true
  blockwise_patch_embedding: true #+
optimization:
  # ipe: 1315
  ipe_scale: 1.25
  clip_grad: 10.0
  weight_decay: 0.04
  final_weight_decay: 0.4
  epochs: 150
  warmup: 40
  start_lr: 0.0002
  lr: 0.000625
  final_lr: 1.0e-06
  ema:
  - 0.998
  - 1.0

port: 42002